body {
  background-color: #f6fcff;
  padding: 0;
  margin: 0;
  font-family: "Mansalva", cursive;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
